<div class="center">
 <h1>オンラインでいつでも相談できる<br>先生を見つけよう</h1>
 <h2>独学でつまずいた。スクールに行く余裕がない。<br>自宅で自分だけの教室を作ろう。</h2>
 
  <div class="row">
    <%= link_to "いますぐはじめる", s_signup_path, class: "btn btn-lg btn-primary" %>
   </div>
  
  <div class="row">
    <%= link_to "先生としての登録はこちら", t_signup_path, class: "btn1" %>
  </div>
 </div>