<div class="center">
 <h1>class creator</h1>
 
  <div class="row">
    <%= link_to "いますぐはじめる", s_signup_path, class: "btn btn-lg btn-primary" %>
   </div>
  
  <div class="row">
    <%= link_to "先生としての登録はこちら", t_signup_path, class: "btn1" %>
  </div>
 </div>