<div id="wrap" class="clearfix">
 <%= render 'users/show' %>
 <%= @user.profile %>
 <% if t_logged_in? %>
  <%= render 'users/btnt'%>
 <% end %>

 <div class="main">
   <h1>自己紹介</h1>
   <h1>スキル</h1>
   <h1>経歴</h1>
   <h1>プラン</h1>
   <div class="p-2"><%= link_to "プロフィール作成", '#',id: "ab" %></div>
 </div>
</div>