<div class="row">
 <div class="d-flex flex-column">
  <button type="button" class="btn3 btn-info btn-sm">
    <div class="p-2"><%= link_to "ダッシュボード", current_s_user %></div>
    <div class="p-2"><%= link_to "メッセージ", '#' %></div>
    <div class="p-2"><%= link_to "生徒募集一覧", t_posts_path %></div>
    <div class="p-2"><%= link_to "先生を募集する", new_s_post_path %></div>
  </button>
 </div>
</div>