<% provide(:title, "Posts") %>
<div class="blue">
 <h1>先生募集一覧</h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <% @posts.each do |s_post| %>
     <%= s_post.s_user.name %>
     <%= s_post.recruit %>
   <% end %>
  </div>
</div>

