@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
    h1 {
      font-size: 50px;
      letter-spacing: -2px;
      margin-top: 90px;
      margin-bottom: 30px;
      text-align: left;
      font-weight: 900;
      color: #00F;
    }
  
    h2 {
      padding-bottom: 200px;
      color: #000;
    }
  }


  
  
  

  .btn {
    font-size: 4em;
}

  .btn1 {
      font-size: 2em;
  }


  

  


  
  

  
  
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  #logo {
    float: left;
    margin-left: -40px;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 1px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #000;
    text-decoration: none;
  }


  
  #ab {
      color: #00F;
      padding-top:25px;
      font-size: 20px;
  }

  #ab:hover {
      color: #000;
  }

  


  body {
    background-image: url("off.jpg");
    background-size: cover;
  }

  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #F00;
    color: #00F;
  }

  footer small {
    float: left;
  }

  .navbar {
      background-color: #FFF;
  }

  .blue {
      color:#00F;
      padding-top: 10px;
    h1 {
      text-align: center;
      font-size: 50px;
    }
  }

  

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    
  }
  
  input {
    height: auto !important;
  }

  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }
  .account{
    color:#00F;
    font-size:20px;
    padding-top:10px;
  }

  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }

  .alert-success {
    padding-top: 40px;
  }

  .alert-danger {
    padding-top: 40px;
  }

.d-flex {
  font-size: 50px;
  padding-left: 91px;
}

.p-2 {
  color: #00F;
}

.btn3 {
  font-size: 1em;
}
  
section {
  font-size: 8px;
  padding-top: 30px;
}