@import "bootstrap-sprockets";
@import "bootstrap";

header .container {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  background-color: #fff;
}

#logo {
  float: left;
  margin-top: 10px;
  margin-left: 10%;
}

.nav {
  float: right;
  padding-right: 10%;
  li {
    float: left;
  }
  #ab {
    color: #00F;
    font-size: 20px;
    margin-top: 35px;
  }
  #ab:hover {
    color: #000;
  }
  .dropdown-toggle {
    color: #00F;
    font-size: 20px;
    margin-top: 35px;
  }
}

.center {
  width: 100%;
  height: 600px;
  h1 {
    font-size: 40px;
    margin-top: 40px;
    color: #FFF;
  }
  h2 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
  }
  .row {
    text-align: center;
    .btn {
      font-size: 40px;
      margin-top: 200px;
    }
    .btn1 {
      font-size: 20px;
      margin-top: 5px;
    }
  }
}

body {
  background-color: #00cc00;
  background-attachment: fixed;
}

footer {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border-top: 1px solid #f00;
  small {
    color: #00F;
    font-weight: bold;
  }
}

.blue {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #00F;
  h1 {
    text-align: center;
    font-size: 50px;
  }
  p {
    font-size: 20px
  }
}

.form {
  text-align: center;
  color: #00F;
  font-size: 20px;
  .form-control {
    margin-bottom: 40px;
  }
  .btn {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.btn3 {
  margin-left: 10%;
  font-size: 20px;
  .p-2 {
    margin: 20px 0;
    font-weight: bold;
  }
}

section h1 {
  margin-left: 10%;
}

.profile {
  margin-left: 10%;
  font-size: 20px;
  margin-bottom: 20px;
  h1 {
    font-weight: bold;
  }
}

.row .name {
  font-size: 20px;
}

.row .recruit {
  font-size: 15px;
}